* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    display: flex;
    background-color: rgb(19, 72, 85);
    height: 100vh;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px;
    justify-content: center;
    align-items: center;   
}
p{
    color: aqua;
    font-size: 100px;
    background-color: rgba(0, 247, 255, 0.178);
    font-family: "Edu AU VIC WA NT Arrows", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}