* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
    display: flex;
    background-color: chartreuse;
    height: ;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10PX;
    justify-content: center;
    align-items: center;
    font-size: 100PX;
}